@charset "UTF-8";


/* Reset */
* {
    color: #000;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a { text-decoration: none; }
a:link         { color: #222; }
a:visited      { color: #222; }
a:hover        { color: #333; }
a:active       { color: #333; }
img            { vertical-align: middle; }
ul             { list-style: none; }
/* Reset */

/* div#wrap */
div#wrap {
    width: 1020px;
    height: 370px;   /* a요소가 absolute 이므로 적용 */
    padding: 10px;
    border: 1px solid #000;
    margin: 40px auto;
}
/* div#wrap */


/* 슬라이드쇼_Fade(전환)효과*/
div#slideArea {
    width: 1000px;
}
div#shuttleFrame {
    width: 1000px;
}
#slideArea a {
    /*position: relative;*/
    /* 이미지가 1곳에 겹쳐야 하므로 absolute*/
    position: absolute;
}

#slideArea a:not(:first-child) {
    display: none;
    /* 첫 번째 a요소만 출력하고 나머지 2개는 제거함 */
}


#slideArea span {
    width: 200px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* 슬라이드쇼_Fade(전환)효과*/






